name: "Build, Test & Deploy"
on: [push]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: yarn install
        run: yarn install
      - name: yarn build
        run: yarn build --prod
      - name: yarn test
        run: yarn test --ci
      - name: Debug
        run: echo Ref - ${g_ref}, Base Ref - ${g_base_ref}
        env:
          G_REF: ${{ github.ref }}
          G_BASE_REF: ${{ github.base_ref }}
      - name: Deploying to Azure
        uses: feeloor/azure-static-website-deploy@master
        if: github.ref == 'master' || github.base_ref == 'master'
        env:
          SOURCE_DIR: "./dist/felixkhoi"
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
          AZURE_INDEX_DOCUMENT_NAME: "index.html"
